# Set up

In [0]:
#mount google drive when use google colab
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
from math import radians, cos, sin, asin,atan2, sqrt
import os
from scipy.spatial.distance import pdist, squareform
from sklearn.cluster import DBSCAN

import math
import matplotlib.pyplot as plt
import pandas as pd
import time
import re

In [0]:
#install for use gmplot to plot google map
!pip install git+https://github.com/vgm64/gmplot

Collecting git+https://github.com/vgm64/gmplot
  Cloning https://github.com/vgm64/gmplot to /tmp/pip-req-build-uyvm3l3i
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from gmplot==1.2.0) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->gmplot==1.2.0) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->gmplot==1.2.0) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->gmplot==1.2.0) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->gmplot==1.2.0) (2019.3.9)
Building wheels for collected packages: gmplot
  Building wheel for gmplot (setup.py) ... done
  Stored in directory: /tmp/pip-ephem-wheel-cache-ggt7y8yj/wheels/af/27/1b/ed1c0e2b94d30c3a900e46cc394343713b1eb368d7fb54f246
Successfully built gmplot
Installing collected packages: gmplot
Successfully installed gmplot-1.2.0

# Explore Data

In [0]:
trajTem=pd.read_csv('/poi/dataset/000/Trajectory/20081023025304.plt',sep=',',skiprows=6,header=None)
trajTem.columns=['latitude','longitude','zero','altitude','number of days ','Date','Time']
trajTem

,latitude,longitude,zero,altitude,number of days,Date,Time
0,39.984702,116.318417,0,492,39744.120185,2008-10-23,02:53:04
1,39.984683,116.318450,0,492,39744.120255,2008-10-23,02:53:10
2,39.984686,116.318417,0,492,39744.120313,2008-10-23,02:53:15
3,39.984688,116.318385,0,492,39744.120370,2008-10-23,02:53:20
4,39.984655,116.318263,0,492,39744.120428,2008-10-23,02:53:25
5,39.984611,116.318026,0,493,39744.120486,2008-10-23,02:53:30
6,39.984608,116.317761,0,493,39744.120544,2008-10-23,02:53:35
7,39.984563,116.317517,0,496,39744.120602,2008-10-23,02:53:40
8,39.984539,116.317294,0,500,39744.120660,2008-10-23,02:53:45
9,39.984606,116.317065,0,505,39744.120718,2008-10-23,02:53:50
10,39.984568,116.316911,0,510,39744.120775,2008-10-23,02:53:55
11,39.984586,116.316716,0,515,39744.120833,2008-10-23,02:54:00
12,39.984561,116.316527,0,520,39744.120891,2008-10-23,02:54:05
13,39.984536,116.316354,0,525,39744.120949,2008-10-23,02:54:10
14,39.984523,116.316188,0,531,39744.121007,2008-10-23,02:54:15
15,39.984516,116.315963,0,536,39744.121065,2008-10-23,02:54:20
16,39.984523,116.315823,0,541,39744.121123,2008-10-23,02:54:25
17,39.984574,116.315611,0,546,39744.121181,2008-10-23,02:54:30
18,39.984568,116.315407,0,551,39744.121238,2008-10-23,02:54:35
19,39.984538,116.315148,0,556,39744.121296,2008-10-23,02:54:40
20,39.984501,116.314907,0,560,39744.121354,2008-10-23,02:54:45
21,39.984532,116.314808,0,564,39744.121412,2008-10-23,02:54:50
22,39.984504,116.314625,0,569,39744.121470,2008-10-23,02:54:55
23,39.984485,116.314426,0,574,39744.121528,2008-10-23,02:55:00
24,39.984427,116.314240,0,579,39744.121586,2008-10-23,02:55:05
25,39.984485,116.314042,0,584,39744.121644,2008-10-23,02:55:10
26,39.984480,116.313818,0,589,39744.121701,2008-10-23,02:55:15
27,39.984501,116.313659,0,595,39744.121759,2008-10-23,02:55:20
28,39.984618,116.314323,0,113,39744.121817,2008-10-23,02:55:25
29,39.984649,116.314107,0,117,39744.121875,2008-10-23,02:55:30
...,...,...,...,...,...,...,...
878,40.008962,116.322462,0,265,39744.447870,2008-10-23,10:44:56
879,40.008988,116.322356,0,282,39744.447928,2008-10-23,10:45:01
880,40.009068,116.322259,0,301,39744.447986,2008-10-23,10:45:06
881,40.009107,116.322177,0,319,39744.448044,2008-10-23,10:45:11
882,40.009086,116.322088,0,329,39744.448102,2008-10-23,10:45:16
883,40.008929,116.321992,0,317,39744.448160,2008-10-23,10:45:21
884,40.008849,116.321910,0,311,39744.448218,2008-10-23,10:45:26
885,40.008799,116.321850,0,307,39744.448275,2008-10-23,10:45:31
886,40.008827,116.321784,0,299,39744.448333,2008-10-23,10:45:36
887,40.008862,116.321736,0,292,39744.448391,2008-10-23,10:45:41
888,40.008898,116.321695,0,290,39744.448449,2008-10-23,10:45:46
889,40.008901,116.321684,0,292,39744.448507,2008-10-23,10:45:51
890,40.008905,116.321683,0,295,39744.448565,2008-10-23,10:45:56
891,40.008905,116.321683,0,295,39744.448600,2008-10-23,10:45:59
892,40.008905,116.321682,0,296,39744.448623,2008-10-23,10:46:01
893,40.008934,116.321623,0,275,39744.448681,2008-10-23,10:46:06
894,40.008945,116.321551,0,269,39744.448738,2008-10-23,10:46:11
895,40.008851,116.321485,0,94,39744.464144,2008-10-23,11:08:22
896,40.008607,116.321862,0,-355,39744.464838,2008-10-23,11:09:22
897,40.008652,116.322251,0,-407,39744.464896,2008-10-23,11:09:27
898,40.008897,116.321603,0,-54,39744.465590,2008-10-23,11:10:27
899,40.008928,116.321610,0,-21,39744.465648,2008-10-23,11:10:32
900,40.009013,116.321431,0,92,39744.465706,2008-10-23,11:10:37
901,40.009027,116.321399,0,93,39744.465764,2008-10-23,11:10:42
902,40.009064,116.321326,0,90,39744.465822,2008-10-23,11:10:47
903,40.009172,116.321211,0,88,39744.465880,2008-10-23,11:10:52
904,40.009204,116.321130,0,86,39744.465937,2008-10-23,11:10:57
905,40.009243,116.321050,0,85,39744.465995,2008-10-23,11:11:02
906,40.009269,116.320978,0,84,39744.466053,2008-10-23,11:11:07
907,40.009328,116.320887,0,83,39744.466111,2008-10-23,11:11:12

# Prepare Data : Calculate velocity

In [0]:
def getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2):
    R = 6371 # Radius of the earth in km
    dLat = radians(lat2-lat1)
    dLon = radians(lon2-lon1)
    rLat1 = radians(lat1)
    rLat2 = radians(lat2)
    a = sin(dLat/2) * sin(dLat/2) + cos(rLat1) * cos(rLat2) * sin(dLon/2) * sin(dLon/2) 
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    d = R * c # Distance in km
    return d

def calc_velocity(dist_km, time_start, time_end):
    if time_end > time_start and float((time_end - time_start).seconds) != 0:
      speed=  dist_km / float((time_end - time_start).seconds)
    else :
      speed= 0
    return  speed

In [0]:
for index in range(0,11):
  print('Round ' +str(index))
  if index > 9:
    path='/poi/dataset/0'+str(index)+'/Trajectory'
  elif index == 1:
    continue;
  else:
    path='/poi/dataset/00'+str(index)+'/Trajectory'
  
  os.chdir(path)
  files=os.listdir(path)
  data=pd.DataFrame()
  path_len=0
  for i in files:
      path_len+=1
      trajTem=pd.read_csv(i,sep=',',skiprows=6,header=None)
      #select data
      trajTem=trajTem.loc[:,(0,1,5,6)]
      trajTem.columns=['latitude','longitude','Date','Time']
      trajTem['ID'] = str(index)
      trajTem['timestamp'] = trajTem['Date']+' '+trajTem['Time']
      trajTem['timestamp'] = pd.to_datetime(trajTem['timestamp'], format='%Y-%m-%d %H:%M:%S')
      
      # Group the sorted dataframe by ID, and grab the initial value for lat, lon, and time.
      trajTem['lat0'] = trajTem.groupby('ID')['latitude'].transform(lambda x: x.iat[0])
      trajTem['lon0'] = trajTem.groupby('ID')['longitude'].transform(lambda x: x.iat[0])
      trajTem['t0'] = trajTem.groupby('ID')['timestamp'].transform(lambda x: x.iat[0])
       # create a new column for distance
      trajTem['dist_km'] = trajTem.apply(
          lambda row: getDistanceFromLatLonInKm(
              lat1=row['latitude'],
              lon1=row['longitude'],
              lat2=row['lat0'],
              lon2=row['lon0']
          ),
          axis=1
      )

      # create a new column for velocity
      trajTem['velocity_kmps'] = trajTem.apply(
          lambda row: calc_velocity(
              dist_km=row['dist_km'],
              time_start=row['t0'],
              time_end=row['timestamp']
          ),
          axis=1
      )
      trajTem['velocity_mps']=trajTem['velocity_kmps']*1000.0
      trajTem = trajTem.drop(columns=['lat0', 'lon0','t0','timestamp','velocity_kmps'])
      data = data.append(trajTem,ignore_index=True)
  print(path_len)
  print(data.shape)
  data.to_csv('/poi/calvelocity/calvelocity0'+str(index)+'.csv')

Round 0
171
(173870, 7)
Round 1
Round 2
175
(248217, 7)
Round 3
322
(485226, 7)
Round 4
395
(439397, 7)
Round 5
86
(109046, 7)
Round 6
28
(31830, 7)
Round 7
54
(87217, 7)
Round 8
34
(77910, 7)
Round 9
49
(84616, 7)
Round 10
161
(935576, 7)

# Detect Stay point

In [0]:
#ฟังก์ชันการแปลงมุมเรเดียน func to convert radian
def rad(d):
    return float(d) * math.pi/180.0

#การคำนวณระยะทางระหว่างสองจุดตามละติจูดและลองจิจูดหน่วยเอาท์พุทคือหน่วยเมตร calculate distance between two lat long output unit as meter
EARTH_RADIUS=6378.137
def GetDistance(lng1,lat1,lng2,lat2):
    radLat1 = rad(lat1);
    radLat2 = rad(lat2);
    a = radLat1 - radLat2;
    b = rad(lng1) - rad(lng2);
    s = 2 * math.asin(math.sqrt(math.pow(math.sin(a/2),2) +math.cos(radLat1)*math.cos(radLat2)*math.pow(math.sin(b/2),2)))
    s = s * EARTH_RADIUS;
    s = round(s * 10000,2) / 10;
    return s

#คำนวณฟังก์ชั่นของจุดกึ่งกลางส่งคืนละติจูดและลองจิจูดของจุดกึ่งกลางข้อมูลคือชุดข้อมูลในรูปแบบ DataFrame, i, j คือตำแหน่ง, i <j
def ComputMeanCoord(data,i,j):
    latitude=list(data['Latitude'])
    longitude=list(data['Longitude'])
    amount=j-i+1
    if amount==0:
        return float(latitude[i]),float(longitude[i])
    sumLongitude=0
    sumLatitude=0
    for k in range(i,j+1):
        sumLatitude+=float(latitude[k])
        sumLongitude+=float(longitude[k])
    return sumLatitude/amount,sumLongitude/amount

#function to detect stay point
def StayPoint_Detection(data,distThreh,timeThreh):
    latitude=list(data['Latitude'])
    longitude=list(data['Longitude'])
    day=list(data['day']);hour=list(data['hour']);minute=list(data['minute']);second=list(data['second'])
    i=0
    SP=[]
    pointNumber=len(data) 
    while i<pointNumber:
        j=i+1
        Token=0
        while j<pointNumber:
            dist=GetDistance(longitude[i],latitude[i],longitude[j],latitude[j])
            if dist>float(distThreh):
                Time=abs(86400*(day[j-1]-day[i])+3600*(hour[j-1]-hour[i])+60*(minute[j-1]-minute[i])+(second[j-1]-second[i]))
                if Time>timeThreh:
                    S_latitude,S_longitude=ComputMeanCoord(data,i,j-1)
                    SarvT=str(year[i])+'-'+str(month[i])+'-'+str(day[i])+' '+str(hour[i])+':'+str(minute[i])+':'+str(second[i])
                    SlevT=str(year[j-1])+'-'+str(month[j-1])+'-'+str(day[j-1])+' '+str(hour[j-1])+':'+str(minute[j-1])+':'+str(second[j-1])
                    SP.append([S_longitude,S_latitude,SarvT,SlevT,[i,j-1]])
                    i=j
                    Token=1
                break
            j+=1
        if Token!=1:
            i+=1
    return SP

In [0]:
for index in range(0,11):
    data=pd.DataFrame()
    print('Round ' +str(index))
    if index == 1:
      continue;
    else:
      path='/poi/calvelocity/calvelocity0'+str(index)+'.csv'
    trajTem=pd.read_csv(path,sep=',',skiprows=1,header=None)
    
    trajTem=trajTem.loc[:,(1,2,3,4,7)]
    trajTem.columns=['Latitude','Longitude','Date','Time','velocity_mps']
    data = data.append(trajTem,ignore_index=True)
    print(data.shape)
    data= data[data['velocity_mps'] < 100.0]
    print(data.shape)
    #pre-process data   
    date=list(data['Date'])
    time=list(data['Time'])
    year=[];month=[];day=[];hour=[];minute=[];second=[]
    for i in range(len(data)):
        d_tem=re.split(r'[-]',date[i])
        t_tem=re.split(r'[:]',time[i])
        year.append(int(d_tem[0]))
        month.append(int(d_tem[1]))
        day.append(int(d_tem[2]))
        hour.append(int(t_tem[0]))
        minute.append(int(t_tem[1]))
        second.append(int(t_tem[2]))
    data['year']=year;data['month']=month;data['day']=day;data['hour']=hour;data['minute']=minute;data['second']=second
    data=data.drop(['Date','Time'],axis=1)
    
   
    #ป้อนเกณฑ์ระยะทางและเกณฑ์เวลา
    distThreh=200
    timeThreh=20*60

    #ผลลัพธ์สุดท้ายจะถูกบันทึกในรูปแบบ DataFrame
    end=StayPoint_Detection(data,distThreh,timeThreh)
    output=pd.DataFrame(end,columns=['Longitude','Latitude','arriveTime','leftTime','scope']) 


    output.to_csv('/poi/staypoint/staypoint'+str(index)+'.csv')
    print('Finish:' + str(index) )

Round 0
(173870, 5)
(173868, 5)
Finish:0
Round 1
Round 2
(248217, 5)
(248217, 5)
Finish:2
Round 3
(485226, 5)
(484084, 5)
Finish:3
Round 4
(439397, 5)
(439397, 5)
Finish:4
Round 5
(109046, 5)
(109046, 5)
Finish:5
Round 6
(31830, 5)
(31830, 5)
Finish:6
Round 7
(87217, 5)
(87217, 5)
Finish:7
Round 8
(77910, 5)
(77910, 5)
Finish:8
Round 9
(84616, 5)
(84616, 5)
Finish:9
Round 10
(935576, 5)
(925822, 5)
Finish:10

# Cluster Stay point by DBSCAN

In [0]:
def getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2):
    R = 6371 # Radius of the earth in km
    dLat = radians(lat2-lat1)
    dLon = radians(lon2-lon1)
    rLat1 = radians(lat1)
    rLat2 = radians(lat2)
    a = sin(dLat/2) * sin(dLat/2) + cos(rLat1) * cos(rLat2) * sin(dLon/2) * sin(dLon/2) 
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    d = R * c # Distance in km
    return d

def haversine(lonlat1, lonlat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    
    """
    # convert decimal degrees to radians 
    lat1, lon1 = lonlat1
    lat2, lon2 = lonlat2
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

In [0]:
#DBSCAN to cluster staypoint
for i in range(0,11):
  if i == 1:
    continue
  else:
    path='/poi/staypoint/staypoint'+str(i)+'.csv'
  data=pd.DataFrame()
  trajTem=pd.read_csv(path,sep=',')
  trajTem=trajTem.iloc[:, [2,1]]
  trajTem.columns=['lat','lon']
  data=data.append(trajTem,ignore_index=True)
  print(data.shape)
  distance_matrix = squareform(pdist(data, (lambda u,v: haversine(u,v))))
  
  db = DBSCAN(eps=0.1, min_samples=4, metric='precomputed',algorithm ='auto') 
  y_db = db.fit_predict(distance_matrix)

  data['cluster'] = y_db
  # Number of clusters in labels, ignoring noise if present.
  n_clusters_ = len(set(data['cluster'])) - (1 if -1 in data['cluster'] else 0)
  n_noise_ = list(data['cluster']).count(-1)

  print('Estimated number of clusters: %d' % n_clusters_)
  print('Estimated number of noise points: %d' % n_noise_)

  import statistics
  import gmplot
  latmin = statistics.median(data.lat)
  lonmax = statistics.median(data.lon)
  gmap = gmplot.GoogleMapPlotter(latmin,lonmax, 13)
  center=pd.DataFrame(columns=['user','lat','lon'])
  colors = ['red','blue','green','purple','orange','yellow','pink','white','red','blue','green','purple','orange','yellow','pink','white','red','blue','green','purple','orange','yellow','pink','white']
  for index in range(-1,n_clusters_-1):
    test = data[data['cluster'] == index]
    if index != -1:
      center = center.append({'user': str(i),'lat':statistics.mean(test.lat),'lon':statistics.mean(test.lon)}, ignore_index=True)
    gmap.scatter(test['lat'], test['lon'] ,color='#ffffff',size =20, marker = False)
  center.to_csv('/poi/staypoiny/center'+str(i)+'.csv')
  gmap.draw('/poi/map/mappoint'+str(i)+'.html')

(424, 2)
Estimated number of clusters: 14
Estimated number of noise points: 101
(312, 2)
Estimated number of clusters: 10
Estimated number of noise points: 72
(995, 2)
Estimated number of clusters: 23
Estimated number of noise points: 197
(1220, 2)
Estimated number of clusters: 22
Estimated number of noise points: 204
(176, 2)
Estimated number of clusters: 9
Estimated number of noise points: 27
(36, 2)
Estimated number of clusters: 2
Estimated number of noise points: 22
(139, 2)
Estimated number of clusters: 4
Estimated number of noise points: 61
(78, 2)
Estimated number of clusters: 4
Estimated number of noise points: 43
(135, 2)
Estimated number of clusters: 5
Estimated number of noise points: 9
(101, 2)
Estimated number of clusters: 3
Estimated number of noise points: 92

In [0]:
#Calculate distance from poi to center of each cluster
poi = pd.read_csv('/poi/poilocation.csv')
for i in range(0,11):
  if i == 1:
    continue
  else:
    path='/content/drive/My Drive/Data/avgcoor/center'+str(i)+'.csv'
  center=pd.read_csv(path,sep=',',index_col=0)
  for index,row in center.iterrows():
    for index2,row2 in poi.iterrows():
        # create a new column for distance
      dist = 'dist' + str(index2)
      center[dist] = center.apply(
          lambda row: getDistanceFromLatLonInKm(
              lat1=row['lat'],
              lon1=row['lon'],
              lat2=row2['latitude'],
              lon2=row2['longitude']
          ),
          axis=1
      )
  center['select'] = center[['dist0','dist1','dist2','dist3']].min(axis=1)    
  center.to_csv('/poi/staypoint/center'+str(i)+'.csv')

In [0]:
#Select least distance and check distance
for i in range(0,11):
  if i == 1:
    continue
  else:
    path='/poi/staypoint/center'+str(i)+'.csv'
  center=pd.read_csv(path,sep=',',index_col=0)

  correct = center[center['select'] < 2].count()['select']
  print("User "+str(i)+" Count correct : "+ str(correct) )
 
  latmin = statistics.median(center.lat)
  lonmax = statistics.median(center.lon)
  gmap = gmplot.GoogleMapPlotter(latmin,lonmax, 13)
  gmap.scatter(center['lat'], center['lon'] ,color='#ff0000',size =40, marker = False)
  gmap.draw('/poi/map/mappoi'+str(i)+'.html')

User 0 Count correct : 12
User 2 Count correct : 0
User 3 Count correct : 13
User 4 Count correct : 13
User 5 Count correct : 4
User 6 Count correct : 0
User 7 Count correct : 0
User 8 Count correct : 1
User 9 Count correct : 2
User 10 Count correct : 1